<!-- particles background -->
<div id="particles-js" class="absolute top-0 left-0 z-10"></div>

<!-- menus -->

<div class="container z-10 w-auto absolute top-5 right-10">
    <a href="" routerLink="" class="z-50 px-5 py-2 dark:text-white hover:font-bold">Home</a>
    <a href="" routerLink="about" class="z-50 px-5 py-2 dark:text-white hover:font-bold">About</a>
    <a href="" routerLink="work" class="z-50 px-5 py-2 dark:text-white hover:font-bold">Work</a>
    <a href="assets/Md Belal Hosen_CV.pdf"
        class="z-50 px-5 py-2 dark:text-white hover:font-bold ring ring-yellow rounded animate-pulse"
        target="_blank">Resume</a>
</div>

<!-- center body -->
<div class="container z-10 ">
    <router-outlet></router-outlet>
</div>

<!-- right panel -->
<div class="z-10 ">
    <fa-icon [icon]="faSun"
        class="text-2xl invisible dark:visible dark:text-white absolute top-4 right-2 cursor-pointer animate-pulse"
        (click)="toggleTheme()"></fa-icon>
    <fa-icon [icon]="faMoon" class="text-2xl dark:hidden absolute top-4 right-2 cursor-pointer animate-pulse"
        (click)="toggleTheme()"></fa-icon>
    <div class=" absolute right-2 top-20">
        <a href="https://www.linkedin.com/in/md-belal-hosen/" target="_blank">
            <fa-icon [icon]="faLinkedin"
                class="text-2xl text-blue cursor-pointer animate-pulse transition duration-700 ease-in-out"></fa-icon>
        </a> <br>
        <a href="https://www.xing.com/profile/MdBelal_Hosen/cv" target="_blank">
            <fa-icon [icon]="faXing"
                class="text-2xl text-green cursor-pointer animate-pulse transition duration-700 ease-in-out"></fa-icon>
        </a> <br>
        <a href="https://github.com/belal55" target="_blank">
            <fa-icon [icon]="faGithub"
                class="text-2xl text-orange cursor-pointer animate-pulse transition duration-700 ease-in-out"></fa-icon>
        </a>
        <br>
        <a href="mailto:{{email}}" title="{{email}}">
            <fa-icon [icon]="faMail"
                class="text-2xl text-yellow cursor-pointer animate-pulse transition duration-700 ease-in-out"></fa-icon>
        </a>
        <br>
        <a [attr.href]="mobileNo | byPassSecurity" title="{{mobile}}">
            <fa-icon [icon]="faMobile"
                class="text-2xl text-purple cursor-pointer animate-pulse transition duration-700 ease-in-out"></fa-icon>
        </a>
    </div>
</div>