<div class="container">
    <div class="flex h-screen">
        <div class="absolute left-0 right-0 top-16">
            <img class="mx-auto h-40 w-40 rounded-full object-cover hover:scale-125 transition duration-700 ease-in-out drop-shadow-xl ring hover:ring-yellow "
                src="assets/Md_Belal_Hosen_PassportSizePhoto.jpg" alt="ChitChat Logo">
        </div>
        <div class="w-full md:w-3/5 p-1 md:p-5 m-auto dark:text-white text-center">
            <span class="text-4xl font-bold text-center">Hi, I'm Belal.</span> <br>
            <span class="text-3xl second_typed-element text-center"></span>
        </div>
    </div>
</div>